*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  /* align-items: center; */
}
body{
  align-items: center;
  /* background-image: linear-gradient(); */

}
h2{
  text-align: center;
  padding: 20px;
}
h3{
  text-align: center;
}


/* .start-game.active{
  display: none;
} */
.box{
  padding: 10px 40px;
  margin: 10px auto;
  width: 300px;
  height: 300px;
  display: grid;
  /* background-color: black; */
  grid-template-rows: 150px 150px;
  grid-template-columns: auto auto;
}
.box1{
  background-color: rgb(255, 251, 0);
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
}
.box2{
  background-color: rgb(255, 0, 0);
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
}
.box3{
  background-color: rgb(255, 29, 138);
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
}
.box4{
  background-color: rgb(87, 9, 255);
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
}

.flash{
  background-color: white;

}
.userflash{
  background-color: rgb(18, 255, 18);
}